<div class="ink-tabs top" data-prevent-url-change="false">
   <!-- Creates a tabbed view with top nav -->
   <ul id="main_tabs" class="tabs-nav">
      <li class="active"><a class="tabs-tab" href="#">New Post</a>
      </li>
      <!-- Points to item 1 below -->
      <li><a class="tabs-tab" href="#edit_post">Edit</a>
      </li>
      <li class="push-right"><a class="tabs-tab" id="settings_link" href="#settings"><i class="fa fa-cog fa-lg"></i></a>
      </li>
   </ul>

   <div id="main" class="ink-grid tabs-content">

   </div>

</div>
