<div class="box">
   <h3>Settings</h3>
   <form id="general" class="ink-form">
      <fieldset>
         <div class="control-group small-100 large-60 xlarge-60 pull-left">
            <label for="title">Site Title</label>
            <div class="control">
               <input id="title" type="text" placeholder="">
            </div>
         </div>
         <div class="control-group small-100 large-35 xlarge-35 pull-right">
            <label for="author">Author</label>
            <div class="control">
               <input id="author" type="text" placeholder="">
            </div>
         </div>
         <div class="control-group small-100 large-100 xlarge-100">
            <label for="description">Description</label>
            <div class="control">
               <input id="description" type="text" placeholder="">
            </div>
         </div>
         <div class="control-group small-100 large-45 xlarge-45 pull-left">
            <label for="keywords">Keywords</label>
            <div class="control">
               <textarea id="keywords" rows="1">
               </textarea>
            </div>
         </div>
         <div class="control-group small-100 large-45 xlarge-45 pull-right">
            <label for="robots">Robots</label>
            <div class="control">
               <textarea id="robots" rows="1">
               </textarea>
            </div>
         </div>
         <div class="control-group small-100 large-70 xlarge-60 pull-left">
            <label for="code">Tracking Code</label>
            <div class="control">
               <textarea id="code" rows="6"></textarea>
            </div>
         </div>
      </fieldset>
   </form>
</div>
