<div class="box">
   <h3>Settings</h3>
   <form id="general" class="ink-form">
      <div class="box column-group gutters">
         <div class="control-group small-95 large-60 xlarge-60 pull-left">
            <label for="title">Site Title</label>
            <div class="control">
               <input id="title" type="text" placeholder="">
            </div>
         </div>
         <div class="control-group small-95 large-35 xlarge-35 pull-right">
            <label for="author">Author</label>
            <div class="control">
               <input id="author" type="text" placeholder="">
            </div>
         </div>
         <div class="control-group small-95 large-95 xlarge-95 pull-left">
            <label for="description">Description</label>
            <div class="control">
               <input id="description" type="text" placeholder="">
            </div>
         </div>
         <div class="control-group small-95 large-45 xlarge-45 pull-left">
            <label for="keywords">Keywords</label>
            <div class="control">
               <textarea id="keywords" rows="1">
               </textarea>
            </div>
         </div>
         <div class="control-group small-95 large-45 xlarge-45 pull-right">
            <label for="robots">Robots</label>
            <div class="control">
               <textarea id="robots" rows="1">
               </textarea>
            </div>
         </div>
         <div class="control-group small-95 large-70 xlarge-60 pull-left">
            <label for="code">Tracking Code</label>
            <div class="control">
               <textarea id="code" rows="6"></textarea>
            </div>
         </div>
      </div>
   </form>
   <h3>Footer</h3>
   <form id="footer" class="ink-form">
      <div class="box column-group gutters">
         <div class="control-group small-95 large-80 xlarge-35 pull-left">
            <label for="email">Email Address</label>
            <div class="control">
               <input id="email" type="text" placeholder="">
            </div>
         </div>
         <div class="control-group small-95 large-40 xlarge-30 pull-left">
            <label for="github">GitHub Username</label>
            <div class="control">
               <input id="github" type="text" placeholder="">
            </div>
         </div>
         <div class="control-group small-95 large-40 xlarge-30 pull-right">
            <label for="twitter">Twitter Username</label>
            <div class="control">
               <input id="twitter" type="text" placeholder="">
            </div>
         </div>
         <div class="control-group small-95 large-95 xlarge-95 pull-left">
            <label for="colophon">Text</label>
            <div class="control">
               <input id="colophon" type="text" placeholder="">
            </div>
         </div>
      </div>
   </form>
</div>
