<div class="box">
   <h3>General</h3>
   <form id="general" class="ink-form public">
      <fieldset>
         <div class="control-group small-100 large-60 xlarge-60 pull-left">
            <label for="title">Site Title</label>
            <div class="control">
               <input id="title" type="text" placeholder="">
            </div>
         </div>
         <div class="control-group small-100 large-35 xlarge-35 pull-right">
            <label for="author">Author</label>
            <div class="control">
               <input id="author" type="text" placeholder="">
            </div>
         </div>
         <div class="control-group small-100 large-100 xlarge-100">
            <label for="description">Description</label>
            <div class="control">
               <input id="description" type="text" placeholder="">
            </div>
         </div>
         <div class="control-group small-100 large-45 xlarge-45 pull-left">
            <label for="keywords">Keywords</label>
            <div class="control">
               <textarea id="keywords" rows="1">
               </textarea>
            </div>
         </div>
         <div class="control-group small-100 large-45 xlarge-45 pull-right">
            <label for="robots">Robots</label>
            <div class="control">
               <textarea id="robots" rows="1">
               </textarea>
            </div>
         </div>
      </fieldset>
   </form>
   <h3>Google Analytics</h3>
   <form id="ga" class="ink-form private">
      <fieldset>
         <div class="control-group small-100 large-100 xlarge-100">
            <label for="websiteUrl">Website URL</label>
            <div class="control">
               <input id="websiteUrl" type="text" placeholder="">
            </div>
         </div>
         <div class="control-group small-100 large-45 xlarge-45 pull-left">
            <label for="clientid">Client ID</label>
            <div class="control">
               <input id="clientid" type="text" placeholder="">
            </div>
         </div>
         <div class="control-group small-100 large-45 xlarge-45 pull-right">
            <label for="apikey">API Key</label>
            <div class="control">
               <input id="apikey" type="password" placeholder="">
            </div>
         </div>
      </fieldset>
   </form>
</div>